body{
  background-color: black;
  margin-top: 100px;
  margin-bottom: 50px;
}


/*menu*/
ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  position: absolute;
}

/* Создает горизонтальный список с интервалом*/
li {
display: inline-block;
margin-right: 1px;
}

/*Стиль для ссылок меню */
li a {
display: block;
min-width: 140px;
height: 50px;
text-align: center;
line-height: 50px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
background: #2f3036;
text-decoration: none; 
}

/* Состояние наведения курсора для ссылок верхнего уровня*/
li:hover a {
background: #e6af1a;
}

/* Стиль для выпадающих ссылок*/
li:hover ul a {
background: #f3f3f3;
color: #2f3036;
height: 40px;
line-height: 40px;
}

/* Состояние наведения курсора для выпадающих ссылок */ 
li:hover ul a:hover {
background: #059965;
color: #fff;
}

/*Скрывать выпадающие ссылки до тех пор, пока они не понадобятся */
li ul {
display: none;
}

/*Сделать выпадающие ссылки вертикальными */
li ul li {
display: block; 
float: none; 
}

/*Предотвращение переноса текста */
li ul li a {
width: auto; 
min-width: 100px; 
padding: 0 20px; 
}

/*Отображение выпадающего списка при наведении курсора */
ul li a:hover + .hidden, .hidden:hover {
display: block; 
}

/*Делаем меню фиксированным*/
.menuskived {
  position:fixed;
  top:10px;
  left:30px;
  width:100%;
  padding:5px 0;
  text-transform: uppercase; 
  text-align: center; 
  line-height: 40px;
  opacity: 0.9; 
  
}

/*Оформляем первый блок*/
.start {
    margin:10px auto 0px;
    width: 90%;
    height: 130vh;
    background: url("../images/start.jpg")center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
 
}

/*Оформляем второй блок*/
.after{
    padding-top: 10px;
    margin:0px auto 0px;
    width: 90%;
    height: 130vh;
    background: url("../images/after.jpg")center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}

#history{
  font-size: 30px;
  color: white;
  border: 4px solid #ffff00;
  height: 550px;
  width: 500px;
  padding-left: 30px;
  padding-top: 50px;
}

/*Оформляем третий блок*/
.after2{
    padding-top: 10px;
    margin:0px auto 0px;
    width: 90%;
    height: 130vh;
    background: url("../images/after2.jpg")center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}

#data{
  font-size: 30px;
  color: white;
}

/*Оформляем четвёртый блок*/
.after3{
  padding-top: 10px;
    margin:0px auto 0px;
    width: 90%;
    height: 130vh;
    background: url("../images/after3.jpg")center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
    position: relative;
}

/*Оформляем само голосование*/
.p{
    padding-top: 0px;
    font-size: 40px;
    color: white;
}
form{
    font-size: 30px;
    color: white;
}

.contakt{
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 500px;
color: white;
}











