.header-h1 {
    position: relative;
    text-align: center;
    margin-bottom: .5rem;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    padding: 0.25rem .875rem;
    border-left: .125rem solid #f57f17;
    border-right: .125rem solid #f57f17;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #f57f17;
  }
  .header-h1::after {
    content: "";
    position: absolute;
    background: #f57f17;
    height: .125rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
  }


  
    